* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

img {
  height: 100px;
}

a {
  text-decoration: none;
  color: gray;
  text-decoration: underline;
}

a:hover {
  color : #1ca9c9;
}

.btn {
  cursor: pointer;
  border: none;
}